#home-container {
  width: 21.4375rem;
  min-height: 21.6875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-kidtainer {
  width: 21.4375rem;
  min-height: 19.6875rem;
  background-color: #313a48;
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

img {
  background-color: transparent;
}

h3 {
  color: var(--Neon-Green, #53ffaa);
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size:0.6875rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.457px;
}

p{
    color: var(--Light-Cyan, #CEE3E9);
text-align: center;
font-family: 'Manrope';
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: -0.257px;
}

#dice{
  position: relative;
  bottom: 31px;
  border-radius: 50%;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  
  
}

#dice:hover{
  box-shadow: 0 0 04px 0 rgba(52, 255, 169, 1);
  transition: .2s ease-in;
}

@media (min-width:768px) {
   #home-container{
    width: 540px;
    padding: 0px;
    height: 332px;
   }
   #home-kidtainer{
    width: 100%;
   }
   p{
    max-width: 444px;
   }
  }
 

  


